<div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"> &#9747;</a>
        <a href="#!/home" style="margin-top: 270px">HOME</a>
        <a href="#">PROFILE</a>
        <a href="#">STATISTICS</a>
        <a href="#">INSTALLNINGAR</a>
        <a href="#">LOG OUT</a>
</div>
<div class="header-menu" style="display: flex;">
        <div class="nav-button">
            <p onclick="openNav()">&#9776; </p>
        </div>
</div>
<div>

</div>
<div class="child-save-form">
        <div class="child-save-image">
                <img src="images/add-user.png" alt="">
        </div>
        <form action="" class="add-children-form">
                <h6>Childs Name</h6>
                <input ng-model="addMe"type="text" name="" id="" placeholder="Name">
                <h6>Grade Level</h6>
                <select name="Grade Level" class="child-save-grade-level">
                        <option value="">Förskola</option>
                        <option value="">GrundSkola</option>
                        <option value="">Gymnasiet</option>
                </select>
                <div class="child-save-button">
                        <button ng-click="addItem()" >Save</button>
                </div>
                
        </form>
</div>
