<div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"> &#9747;</a>
        <a href="#!/home" style="margin-top: 270px">HOME</a>
        <a href="#">PROFILE</a>
        <a href="#">STATISTICS</a>
        <a href="#">INSTALLNINGAR</a>
        <a href="#">LOG OUT</a>
</div>


<div class="header-menu" style="display: flex;">
        <div class="nav-button">
                <p onclick="openNav()">&#9776; </p>
                <div class="add-button-circle">
                        <a href="#!/addchildren">+</a>
                </div>
        </div>
</div>

<div ng-repeat="item in users" class="children-items">
        <div class="children-images">
                <img ng-src="{{lawnmower.logoLocation}}">
        </div>
        <div class="children-text">
                <p>{{item.firstName}}</p>
                <p>{{item.lastName}}</p>
        </div>
</div>