<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"> &#9747;</a>
    <a href="#!/home" style="margin-top: 270px">HOME</a>
    <a href="#">PROFILE</a>
    <a href="#">STATISTICS</a>
    <a href="#">INSTALLNINGAR</a>
    <a href="#">LOG OUT</a>
</div>
<div class="header-menu" style="display: flex;">
    <div class="nav-button">
        <p onclick="openNav()">&#9776; </p>
    </div>
</div>
<div class="group-create-button">
    <a href="">
        <img src="images/groupcreateicon.png" alt="Children" width="74" height="74">
        <p>Create Group</p>
    </a>
</div>
<div class="border-group">

</div>
<div class="group-find-button">
    <a href="">
        <img src="images/findgroupicon.png" alt="Children" width="74" height="74">
        <p>Find Group</p>
    </a>
</div>