
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>    
          </ul>
        </div>  
      </nav>
 
      <div class="flex-container">
        <div>
                <img src="images/children.png" alt="Children" width="74" height="74">
            <p>Children</p>
        </div>
        <div>
                <img src="images/Groups.png" alt="Children" width="74" height="74">
            <p>Groups</p>
        </div>
      </div>
      </div>
      <div class="flex-container">
            <div>
                    <img src="images/children.png" alt="Children" width="74" height="74">
                <p>Children</p>
            </div>
            <div>
                    <img src="images/children.png" alt="Children" width="74" height="74">
                <p>Groups</p>
            </div>
          </div>
          </div>
          <div class="flex-container">
                <div>
                        <img src="images/children.png" alt="Children" width="74" height="74">
                    <p>Children</p>
                </div>
                <div>
                        <img src="images/children.png" alt="Children" width="74" height="74">
                    <p>Groups</p>
                </div>
              </div>
              </div>
           