
<div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"> &#9747;</a>
        <a href="#" style="margin-top: 270px">HOME</a>
        <a href="#">PROFILE</a>
        <a href="#">STATISTICS</a>
        <a href="#">INSTALLNINGAR</a>
        <a href="#">LOG OUT</a>
      </div>
       
      <div class="header-menu">
            <div class="nav-button" >
                    <p onclick="openNav()">&#9776; </p>
              </div>

      </div>
 
      <div class="flex-container">
          
        <div>
            <a href="#!/childrensave">
            <img src="images/children.png" alt="Children" width="74" height="74">
                
            <p>Children</p>
        </a>
               
        </div>
        <div>
                <img src="images/Groups.png" alt="Children" width="74" height="74">
            <p>Groups</p>
        </div>
      </div>
      </div>
      <div class="flex-container">
            <div>
                    <img src="images/children.png" alt="Children" width="74" height="74">
                <p>Children</p>
            </div>
            <div>
                    <img src="images/children.png" alt="Children" width="74" height="74">
                <p>Groups</p>
            </div>
          </div>
          </div>
          <div class="flex-container">
                <div>
                        <img src="images/children.png" alt="Children" width="74" height="74">
                    <p>Children</p>
                </div>
                <div>
                        <img src="images/children.png" alt="Children" width="74" height="74">
                    <p>Groups</p>
                </div>
              </div>
              </div>
           